@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

* {
    transition: all 0.25s;
}

/* This hides the number spinner from number inputs  */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}